<% if (pagination == 2){ %>
	<% page.posts.each(function(post){ %>
		<% if (post.layout === 'monday-go-meditation') { %>
			<%- partial('commentary', {post: post, index: true}) %>
		<% } else { %>
			<%- partial('article', {post: post, index: true}) %>
		<% } %>
	<% }) %>
<% } else { %>
	<% var last; %>
	<% page.posts.each(function(post, i){ %>
		<% var year = post.date.year(); %>
		<% if (last != year){ %>
			<% if (last != null){ %>
				</div></section>
			<% } %>
			<% last = year; %>
			<section class="archives-wrap">
				<div class="archive-year-wrap">
					<h2 class="archive-title">
						<% if (page.category) { %>
							Category: <%= page.category %>
						<% } else { %>
							Archive: <%= page.month %>/<%= year %>
						<% } %>
					</h2>
				</div>
				<div class="archives">
		<% } %>
		<% if (post.layout === 'monday-go-meditation') { %>
			<%- partial('commentary', {post: post, index: true}) %>
		<% } else { %>
			<%- partial('article', {post: post, index: true}) %>
		<% } %>
	<% }) %>
	<% if (page.posts.length){ %>
		</div></section>
	<% } %>
<% } %>
<% if (page.total > 1){ %>
	<nav id="page-nav">
		<%- paginator({
			prev_text: "&laquo; prev",
			next_text: "next &raquo;"
		}) %>
	</nav>
<% } %>